a{
	text-decoration: none;
}

body{
	font-family: "Arial";
	font-size: 14px;
	margin: 0;
	padding: 0;
	border: 0;
}

header{
	background-color:#c910d6;
	display: flex;
}

.nav-button{
	border: 0;
	border-radius: 4px;
	padding: 8px;
	background-color: #c910d6;
	margin: 0;
	cursor: pointer;
}

.nav-button i{
	color: white;
}

.overLay{
	width: 0%;
	height: 100%;
	background-color: rgba(224, 177, 249, 0.9);
	position: fixed;
	z-index: 9;
	top: 0;
	left: 0;
	overflow-x: hidden;
	transition: all 0.5s;
}

.overLay-content{
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 30px;
}

.overLay a{
	padding: 8px;
	color: purple;
	font-size: 30px;
	display: block;
	transition: 0.3s;
}

.overLay a:hover, .overLay a:focus{
	color: yellow;
}

.overLay .closeBtn{
	position: absolute;
	font-size: 60px;
}

.container{
	width: 80%;
	height: 100%;
	margin: 0 auto;
}

.logo{
	width: 180px;
}

section h2{
	font-size: 42px;
	display: block;
	padding-bottom: 20px;
	border-bottom: 1px solid #ccc;
}

table{
	width: 100%;
	margin-bottom : .5em;
    table-layout: fixed;
}

td, th {
	padding: 10px;
	margin: 0;
	border: 1px solid #ccc;
	text-align: center;
}

th{
	font-weight: bold;
	background-color: #EEE;
}

.info-invalida {
    background-color: rgb(255, 242, 0);
}

label{
	color: #555;
	display: block;
	margin-bottom: .2em;
}

.campo{
	margin: 0;
	padding-bottom: 1em;
	width: 90%;
	border: 1px solid #ccc;
	padding: .7em;
}

.campo-medio{
	display: inline-block;
	padding-right: .5em;
}

option:hover{
	color: #c910d6;
}

.grupo{
	width: 32%;
	display: inline-block;
	padding: 10px 0px;
}

button{
	padding: .5em 2em;
	border: 0;
	border-bottom: 3px solid;
	font-size: 1.2em;
	cursor: pointer;
	margin: 0;
	margin-top: -3px;
	color: #fff;
	background-color:#0c8cd3;
	border-color: #04324c;
	width: 20%;
    display: block;
    clear: both;
    margin: 10px 0px;
}

#mensagens-erro{
	color: red;
}

.fadeOut{
	opacity: 0;
	transition: 1s;
}

#filtrar-tabela{
	width: 19.5%;
	height: 35px;
	margin-bottom: 10px;
}

.invisivel{
	display: none;
}

#total_insumos, #valor_lucro, #total_produto{
	background-color: white;
}